* {
  text-align: center;
  color: blue;
}

body {
  background-color: lightblue;
  background-image: url("img_tree.gif");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

h1 {
  color: white;
  /* This is a single-line comment */
  text-align: center;
}

/* This is
a multi-line
comment */
p {
  font-family: verdana;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 5px;
  margin: 25px;
  padding: 5px 5px 5px 5px;
}
#para1 {
  text-align: center;
  color: red;
}
.center {
  text-align: center;
  color: red;
}

p.center {
  text-align: center;
  color: red;
}
p.large {
  font-size: 300%;
}
p.one {
  border-style: solid;
  border-width: 5px;
  border-color: red green blue yellow;
}
p.uppercase {
  text-transform: uppercase;
}

h1, h2 {
  text-align: center;
  color: red;
}

div {
  border: 1px solid black;
  margin-top: 100px;
  margin-right: 150px;
  margin-bottom: 100px;
  margin-left: 80px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background-color: lightblue;
}


/* unvisited link */ /* visited link */
a:link, a:visited {
  color: white;
  background-color: #f44336;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


/* mouse over link */ /* selected link */
a:hover, a:active  {
  color: hotpink;
  background-color: lightgreen;
  text-decoration: underline;
}


ul {
  background: #3399ff;
  padding: 20px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

td {
  height: 50px;
  vertical-align: bottom;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}

div.ex1 {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}

div.ex2 {
  max-width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}

div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
  margin:0;
  padding:0;
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
  margin:0;
  padding:0;
}

.div3 {
  float: left;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: 3px solid #73AD21;
}

.div4 {
  border: 1px solid red;
  clear: left;
}

p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
h1::after {
  content: url(paper.gif);
}
::selection {
  color: red;
  background: yellow;
}
